* {
    box-sizing: border-box;
}
body {
    position: relative;
}
:target {
    color: var(--bs-primary);
}
/* Custom style to stick list group on top */
.list-group {
    position: sticky;
    top: 15px;
}

.nav-item .active {
    color: red;
}